block contactsVars 
  - var contactsHeading = 'Контакты';

  - var contactsLowHeading1 = 'Email:'
  - var contactsLink1 = 'example@website.ru'
  - var contactsLowHeading2 = 'Телефон:'
  - var contactsLink2 = '+7 (999) 999 99-99'

  - var contactsFormHeading = 'Остались вопросы?';
  - var contactsFormPlaceholder1 = 'Как вас зовут?';
  - var contactsFormPlaceholder2 = 'Номер телефона';
  - var contactsFormAccept1 = 'Нажимая на кнопку вы соглашаетесь с ';
  - var contactsFormAccept2 = ' политикой конфиденциальности';
  - var contactsFormBtn = 'оставить заявку';


section.contacts#contacts
  .container.contacts__container
    .contacts__left
      h2.contacts__heading.heading(data-aos="fade-up" data-aos-duration="700" data-aos-easing="ease" data-aos-delay="100") #{contactsHeading}
      ul.contacts__list 
        li.contacts__item 
          h3.contacts__low-heading(data-aos="fade-up" data-aos-duration="700" data-aos-easing="ease" data-aos-delay="200") #{contactsLowHeading1}
          a.contacts__link(href="mailto:example@example.ru" data-aos="fade-up" data-aos-duration="700" data-aos-easing="ease" data-aos-delay="300") #{contactsLink1} 
        li.contacts__item 
          h3.contacts__low-heading(data-aos="fade-up" data-aos-duration="700" data-aos-easing="ease" data-aos-delay="400") #{contactsLowHeading2}
          a.contacts__link(href="tel:+79999999999" data-aos="fade-up" data-aos-duration="700" data-aos-easing="ease" data-aos-delay="500") #{contactsLink2} 

    form.contacts__rigth(action="#" autocomplete="off")
      h2.contacts__form-heading.heading(data-aos="fade-up" data-aos-duration="700" data-aos-easing="ease" data-aos-delay="300") #{contactsFormHeading}
      input.contacts__input(type="text" name='name' placeholder=contactsFormPlaceholder1 data-aos="fade-up" data-aos-duration="700" data-aos-easing="ease" data-aos-delay="400")
      input.contacts__input(type="tel" name='tel' placeholder=contactsFormPlaceholder2 data-aos="fade-up" data-aos-duration="700" data-aos-easing="ease" data-aos-delay="500")
      span.contacts__accept(data-aos="fade-up" data-aos-duration="700" data-aos-easing="ease" data-aos-delay="600")
        | #{contactsFormAccept1}
        a(href="#")  #{contactsFormAccept2}
      button.contacts__btn.btn.btn_green(data-aos="fade-up" data-aos-duration="700" data-aos-easing="ease" data-aos-delay="600") #{contactsFormBtn}