block heroVars 
  - var heroHeading1 = 'Незабываемые';
  - var heroHeading2 = 'туры на яхте';

  - var heroDesc1 = 'окунитесь в незабываемое путешествие на яхте по открытому морю вместе с нами.';
  - var heroDesc2 = 'яхты - это наша жизнь. Выберите одну из наших яхт и начните свое путешествие.';

  - var heroBtn = 'записаться на тур';



section.hero
  .container.hero__container 
    h1.hero__heading(data-aos="fade-up" data-aos-duration="700" data-aos-easing="ease" data-aos-delay="500")
      | #{heroHeading1}
      span #{heroHeading2}
    p.hero__desc.desc(data-aos="fade-up" data-aos-duration="700" data-aos-easing="ease" data-aos-delay="600") #{heroDesc1}
    p.hero__desc.desc(data-aos="fade-up" data-aos-duration="700" data-aos-easing="ease" data-aos-delay="700") #{heroDesc2}

    a.hero__btn.btn(href="#" data-aos="fade-up" data-aos-duration="700" data-aos-easing="ease" data-aos-delay="800") #{heroBtn}