block staticVars 
  - var staticNum1 = '325';
  - var staticDesc1 = 'Незабываемых туров';
  - var staticNum2 = '18';
  - var staticDesc2 = 'Направлений';
  - var staticNum3 = '7';
  - var staticDesc3 = 'Континентов';
  - var staticNum4 = '29';
  - var staticDesc4 = 'Шикарных яхт';
  



section.static#static
  .container.static__container 
    img.static__left(src="img/static/img1.png", alt="Изображение" data-aos="fade-up" data-aos-duration="700" data-aos-easing="ease" data-aos-delay="100")
    .static__right 
      ul.static__values 
        li.static__value
          .static__num(data-aos="fade-up" data-aos-duration="700" data-aos-easing="ease" data-aos-delay="200") #{staticNum1}
          .static__desc(data-aos="fade-up" data-aos-duration="700" data-aos-easing="ease" data-aos-delay="250") #{staticDesc1}
        li.static__value
          .static__num(data-aos="fade-up" data-aos-duration="700" data-aos-easing="ease" data-aos-delay="300") #{staticNum2}
          .static__desc(data-aos="fade-up" data-aos-duration="700" data-aos-easing="ease" data-aos-delay="350") #{staticDesc2}
        li.static__value
          .static__num(data-aos="fade-up" data-aos-duration="700" data-aos-easing="ease" data-aos-delay="400") #{staticNum3}
          .static__desc(data-aos="fade-up" data-aos-duration="700" data-aos-easing="ease" data-aos-delay="450") #{staticDesc3}
        li.static__value
          .static__num(data-aos="fade-up" data-aos-duration="700" data-aos-easing="ease" data-aos-delay="500") #{staticNum4}
          .static__desc(data-aos="fade-up" data-aos-duration="700" data-aos-easing="ease" data-aos-delay="550") #{staticDesc4}
      img.static__img(src="img/static/img2.png", alt="Изображение" data-aos="fade-up" data-aos-duration="700" data-aos-easing="ease" data-aos-delay="600")